<div class="logFoot">
    <div style="width:300px;margin:0 auto; padding:20px 0;">
        <p class="p1" ><a href="{{ url_for("web_bpt.index") }}" style="color: rgb(242, 242, 242);">{{ itzyy['web']['title'] }}</a></p>
        <p class="p2"><a href="http://www.beian.miit.gov.cn/" style="color: rgb(242, 242, 242);">{{ itzyy['globals']['icp'] }}</a></p>
        <p></p>
        <img src="/static/img/备案图标.png" /><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102003681" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:rgb(242, 242, 242);;">{{ itzyy['globals']['beian'] }}</p></a>
    </div>
</div>